body{
    margin: 0;
    display: flex;
    flex-direction: column;
    border: 0;
}
.header{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 16px 200px;
    }
.hero{
    font-size: 48px;
    font-weight: 900px;
    color: #F9FAF8;
    margin-bottom: 8px;
}
.subhero, .links{
    font-size: 18px;
    color: #E5E7EB;
}
.logo{
    font-size: 24px;
    color: #f9faf8;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
ul{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 12px;
    margin-left: auto;
}
.links{
    display: flex;
    
}
.content1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    
}
.image{
    background-color: grey;
    width: 480px;
    height: 230px;
    
}
.signup{
    margin-top: 8px;
}
.content{
    display: flex;
    flex-direction: column;
    margin: 0;
}
.quote{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 0px 200px;
}
.quote1{
    font-size: 36px;
    color: #1F2937;
}
.quote2{
    font-size: 24px;
    font-weight: 700;
    align-self: flex-end;
}
.infos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 200px;
}
h1{
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}
img{
    width: 200px;
    height: 200px;
    border: 2px solid #1F2937;
    border-radius: 25px;
}
.pictures{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.pictures p{
    text-align: center;
}
.call{
    display: flex;
    background-color: white;
    padding: 32px 200px;
    align-items: center;
    justify-content: center;
}
.section{
    background-color: #3b82f6;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 32px;
    padding: 16px 100px;
    flex-grow: 1;
}

.sectionright{
    border: white solid 2px;
    color: white;
    background-color:#3b82f6;
   height: fit-content;
   width:fit-content ;
   padding: 5px 10px;
   align-self: center;
   font-size: 24px;
   border-radius: 5px;
   
   
}
.sectionright:hover{
    background-color: white;
    color: #3b82f6;
}
.sectionright:active{
    background-color: #3b82f6;
    border: white solid px;
    color: white;
    
}

.sectionleft h3{
    font-size: 32px;
    font-weight: 700;
    color: white;
}
.sectionleft p{
    color: white;
}

.content1 .signup{
    color: white;
    background-color: #3b82f6;
    border-radius: 5px;
    border: none;
    padding: 5px 15px;
}
.footer{
    height: 100px;
    background-color: #1F2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;

}
.pic1{
    width: 200px;
}